/Console.Logic.Tests/bin/Debug/*.pdb
/Console.Logic.Tests/bin/Debug/*.dll
/Calculator/obj/Debug/*.exe
/Calculator.Logic/bin/Debug/*.dll
/Calculator/bin/Debug/Calculator.Console.vshost.exe.config
/Calculator.Logic/bin/*
/Calculator.Logic/obj/*
/Calculator.Logic.Tests/bin/*
/Calculator.Logic.Tests/obj/*
/packages/*
/Calculator/bin/*
/Calculator/obj/*
